{% assign max='now'|date:"%Y" %}
{% assign min=max|minus: include.nbyears|plus: 1 %}
{% assign smin=min|plus: "" %}
{% assign smax=max|plus: "" %}
<p><span class="text-muted">last {{interval}} years</span></p>
<dl>
    {% assign conferences=site.data.research.conferences | sort: 'year' | reverse %}
    {% for year in conferences %}
    {% if year.year >= smin and year.year <= smax and year.values %}
    <dt>{{ year.year }}</dt>
    <dd>
        {% assign sorted_int_conferences = year.values | where: 'category', 'INTCONF' | sort: 'name' %}
        {% assign sorted_int_workshops = year.values | where: 'category', 'INTWK' | sort: 'name' %}
        {% assign sorted_nat_conferences = year.values | where: 'category', 'NATCONF' | sort: 'name' %}
        {% assign sorted_nat_workshops = year.values | where: 'category', 'NATWK' | sort: 'name' %}
        {% for item in sorted_int_conferences %}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
        {% for item in sorted_int_workshops %}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
        {% for item in sorted_nat_conferences %}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
        {% for item in sorted_nat_workshops %}
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
    </dd>
    {% endif %}
    {% endfor %}
</dl>
