{% assign grouped = include.talks.grouped %}
{% for group in include.talks.groups %}
{% if grouped %}
<h4>{{ group.label }}</h4>
{% endif %}
<ul>
    {% for talk in group.talks %}
    <li><b>{{ talk.title }}</b>.<br/>
        {% for occurrence in talk.occurrences %}
        {{ occurrence.date }} - {{ occurrence.at }}, {{ occurrence.where }}.<br/>
        {% endfor %}
        {{ talk.note }}
        {% if talk.url or talk.source %}
        <noscript>
            <div class="btn-group">
                {% if talk.url %}
                <a href="../documents/talks/{{ talk.url }}">
                    <button type="button" class="btn {{site.publications_btn_color}} {{site.publications_btn_size}}">
                        <span class="{{site.publications_btn_textcolor}}">slides</span>
                    </button>
                </a>
                {% endif %}
                {% if talk.source %}
                <a href="{{ talk.source }}">
                    <button type="button" class="btn {{site.publications_btn_color}} {{site.publications_btn_size}}">
                        <span class="{{site.publications_btn_textcolor}}">source</span>
                    </button>
                </a>
                {% endif %}
            </div>
        </noscript>
        <div class="ifjavascript">
            <div class="btn-group">
                <button type="button" class="btn {{site.publications_btn_color}} dropdown-toggle {{site.publications_btn_size}}"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="{% if talk.url or talk.source %}{{site.publications_btn_textcolor}}{% endif %}">files <span class="caret"></span></span>
                </button>
                <ul class="dropdown-menu">
                    {% if talk.url %}
                    <li><a href="../documents/talks/{{ talk.url }}">slides</a></li>
                    {% endif %}
                    {% if talk.source %}
                    <li><a href="{{ talk.source }}">source</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    </li>
    {{ include.suffix }}
    {% endfor %}
</ul>
{% endfor %}
