<dl class="dl-horizontal">
    {% for item in include.items %}
    <dt>
        {{ item.period }}
    </dt>
    <dd>
        {% if item.kind == 'diploma' %}
        <span class="text-primary"><em>{{ item.role }}</em></span>
        {% else if item.kind == 'position' %}
        <span class="text-primary"><strong>{{ item.role }}</strong></span>
        {% else %}
        <span>{{ item.role }}</span>
        {% endif %}
        {% if item.note %}<em>{{ item.note }}</em>{% endif %}
        <br/>
        {% if item.at %}
        {% if site.bio.with-logos and item.logo %}
        <div class="circle-picture">
            <img src="{{ item.logo[0] }}"
                 style="width: {{ item.logo[1]}}; margin-left: {{ item.logo[2] }}; margin-top: {{ item.logo[3] }};"/>
        </div>
        {% endif %}
        {{ item.at }}<br/>
        {% endif %}
        {% if item.sub-periods %}
        <dl>{% endif %}
            {% for subitem in item.sub-periods %}
    <dt>{{ subitem.period }}</dt>
    <dd>
        {% if subitem.role %}{{ subitem.role }}<br/>{% endif %}{{ subitem.at }}
    </dd>
    {% endfor %}
    {% if item.sub-periods %}
</dl>{% endif %}
</dd>
<br/>
{% endfor %}
</dl>
