<div class="bs-callout bs-callout-warning">
    <h4><i class="glyphicon glyphicon-wrench"></i> Works ahead!</h4>
    <p class="text-justify">
        This page is still experimental: some conference references and/or pdf may be missing.
    </p>
</div>

{% assign max='now'|date:"%Y" %}
{% assign min=max|minus: include.nbyears|plus: 1 %}
{% assign smin=min|plus: "" %}

<noscript>
    {% if site.alerts.no-javascript.warning %}
    <div class="bs-callout bs-callout-warning">
        <h4><i class="glyphicon glyphicon-exclamation-sign"></i> No-JS version</h4>
        <p class="text-justify">
            <i class="glyphicon glyphicon-remove-sign text-danger"></i> information { bibtex entries },
            <i class="glyphicon glyphicon-remove-sign text-danger"></i> presentation<br/>
            Please consider using a selective javascript blocker.
        </p>
    </div>
    {% endif %}

    <div class="btn-group" role="group" aria-label="publication categories">
        <a href="#publications_nojs_recent">
            <button type="button" class="btn btn-primary">Recent Publications</button>
        </a>
        <a href="#publications_nojs_article">
            <button type="button" class="btn btn-primary">Journal Articles</button>
        </a>
        <a href="#publications_nojs_inproceedings">
            <button type="button" class="btn btn-primary">Conferences and Workshops</button>
        </a>
        <a href="#publications_nojs_inbook">
            <button type="button" class="btn btn-primary">Book Chapters</button>
        </a>
        <a href="#publications_nojs_manuscript">
            <button type="button" class="btn btn-primary">Manuscripts</button>
        </a>
    </div>

    <h3 id="publications_nojs_recent">Recent Publications</h3>

    <p><span class="text-muted">last {{include.nbyears}} years</span></p>

    {% bibliography -q @*[year>={{smin}}] -T bib-noscript %}

    <h3 id="publications_nojs_article">Journal Articles</h3>

    {% if site.kind.separate.article %}

    <h4>International</h4>

    {% bibliography -q @article[{{ site.kind.label }}!=national] -T bib-noscript %}

    <h4>National</h4>

    {% bibliography -q @article[{{ site.kind.label }}=national] -T bib-noscript %}

    {% else %}

    {% bibliography -q @article -T bib-noscript %}

    {% endif %}

    <h3 id="publications_nojs_inproceedings">Conferences and Workshops</h3>

    {% if site.kind.separate.inproceedings %}

    <h4>International</h4>

    {% bibliography -q @inproceedings[{{ site.kind.label }}!=national] -T bib-noscript %}

    <h4>National</h4>

    {% bibliography -q @inproceedings[{{ site.kind.label }}=national] -T bib-noscript %}

    {% else %}

    {% bibliography -q @inproceedings -T bib-noscript %}

    {% endif %}

    <h3 id="publications_nojs_inbook">Book Chapters</h3>

    {% if site.kind.separate.inbook %}

    <h4>International</h4>

    {% bibliography -q @inbook[{{ site.kind.label }}!=national] -T bib-noscript %}

    <h4>National</h4>

    {% bibliography -q @inbook[{{ site.kind.label }}=national] -T bib-noscript %}

    {% else %}

    {% bibliography -q @inbook -T bib-noscript %}

    {% endif %}

    <h3 id="publications_nojs_manuscript">Manuscripts</h3>

    {% bibliography -q @phdthesis -T bib-noscript %}
</noscript>

<div class="ifjavascript">
    <div class="tabbable tabs-top"><!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#publications_recent" data-toggle="tab">
                Recent Publications
            </a></li>
            <li><a href="#publications_article" data-toggle="tab">
                Journal Articles
            </a></li>
            <li><a href="#publications_inproceedings" data-toggle="tab">
                Conferences and Workshops
            </a></li>
            <li><a href="#publications_inbook" data-toggle="tab">
                Book Chapters
            </a></li>
            <li><a href="#publications_manuscript" data-toggle="tab">
                Manuscripts
            </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="publications_recent">
                <br/>
                {% bibliography -q @*[year>={{smin}}] %}
            </div>
            <div class="tab-pane" id="publications_article">
                <br/>

                {% if site.kind.separate.article %}

                <p><b>International</b><br/></p>

                {% bibliography -q @article[{{ site.kind.label }}!=national] %}

                <p><b>National</b><br/></p>

                {% bibliography -q @article[{{ site.kind.label }}=national] %}

                {% else %}

                {% bibliography -q @article %}

                {% endif %}

            </div>
            <div class="tab-pane" id="publications_inproceedings">
                <br/>

                {% if site.kind.separate.inproceedings %}

                <p><b>International</b><br/></p>

                {% bibliography -q @inproceedings[{{ site.kind.label }}!=national] %}

                <p><b>National</b><br/></p>

                {% bibliography -q @inproceedings[{{ site.kind.label }}=national] %}

                {% else %}

                {% bibliography -q @inproceedings %}

                {% endif %}

            </div>
            <div class="tab-pane" id="publications_inbook">
                <br/>

                {% if site.kind.separate.inbook %}

                <p><b>International</b><br/></p>

                {% bibliography -q @inbook[{{ site.kind.label }}!=national] %}

                <p><b>National</b><br/></p>

                {% bibliography -q @inbook[{{ site.kind.label }}=national] %}

                {% else %}

                {% bibliography -q @inbook %}

                {% endif %}

            </div>
            <div class="tab-pane" id="publications_manuscript">
                <br/>
                {% bibliography -q @phdthesis %}
            </div>
        </div>
    </div>
</div>
