<p class="text-justify">My research activities address <strong>software engineering</strong> with issues related to
    composition (the software system is made up of several sub-units),
    distribution (there are sub-units that execute on different deployment units), and
    interaction (there are sub-units that synchronize or communicate in some way).
    Further, I have a specific focus on the <strong>behavioural aspects</strong> of software.
    These emerge when systems or their sub-units have a state, conditioning the legal ordering of
    operations within them or communications between them.
</p>
<p class="text-justify">I am also particularly interested in the use and the integration of <strong>formal
    methods</strong> within the software development processes.
    This includes activities such as design, verification, adaptation, automatic composition, and testing.
    The objective is twofold:
    first, to increase the confidence one may have in a software system and,
    second, to foster automation and tool-support of the development processes.
</p>
<p class="text-justify">Applicative domains are important in my work.
    This includes <strong>service-based applications</strong> and <strong>business processes</strong>, e.g., with
    the semi-automatic adaptation of services to remove mismatches between them,
    the automatic generation of service orchestrations from end-user high-level requirements,
    the testing of service orchestrations and service choreographies, and
    the verification and the analysis of the evolution of business processes.
</p>
