<noscript>
    {% if site.alerts.no-javascript.information %}
    <div class="bs-callout bs-callout-info">
        <h4><i class="glyphicon glyphicon-info-sign"></i> No-JS version</h4>
        <p class="text-justify">
            <i class="glyphicon glyphicon-ok-sign text-success"></i> information,
            <i class="glyphicon glyphicon-remove-sign text-danger"></i> presentation<br/>
            Please consider using a selective javascript blocker.
        </p>
    </div>
    {% endif %}
</noscript>

<div class="row">

    <div class="col-md-6">

        <h2><span class="label label-primary">Selected talks</span></h2>
        <p><br/></p>

        {% include print_talks.html talks=site.data.talks.selected suffix="<br/>" %}

    </div>

    <div class="col-md-6">

        <h2><span class="label label-primary">All talks since 2001</span></h2>
        <p><br/></p>

        {% include print_talks.html talks=site.data.talks.all suffix="<br/>" %}

    </div>

</div>
