# Jekyll

**/_site/
**/.sass-cache/
**/.jekyll-metadata

# Ruby
**/Gemfile.lock

# IntelliJ IDEA
.idea
*.iml

# Global
*~
.DS_Store # this one, for OSX, should be global and in $HOME/.gitignore_global



